body{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #D2A9BC!important;
}

li{
    color: black;
}

footer {
    box-sizing: border-box;
    height: 32vh;
    margin: 0;
    width: 100%;
}


.cardImage{
    width: 80px;
    height: 80px;
}


.limelight{
    font-family: 'Limelight', cursive;
}

.price{
    color: rgb(45, 23, 122);
}

.purple1{
    background-color: #F1E6EA;
}

.purple1fade{
    background: rgba(54, 25, 25, .5);
}

.purple1-text{
    color: #F1E6EA;
}

.purple2{
    background-color: #D2A9BC;
}

.purple2-text{
    color: #D2A9BC
}

.purple3{
    background-color: #97709A;
}

.purple3-text{
    color: #97709A;
}

.purple4{
    background-color: #602150;
}

.purple4-text{
    color: #602150;
}

.purple5{
    background-color: #3B141E;
}

.purple5-text{
    color: #3B141E;
}

.spaceNav{
    width: 400px;
}

.show{
    display: block;
}

.nav1{
    height: 300px;
    background: url(http://www.revistanuevaera.cl/wp-content/uploads/2015/01/Amatistapropiedades.jpg);
    background-repeat: no-repeat;
    background-size: 1800px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}



.title{
    font-family: 'Gill Sans', sans-serif;
}

.transparency{
    opacity: 0.3;
}

.image-profile {
  width: 20%;
  border-radius: 50%;
}

.right {
  float: right!important;
}

.logo {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
}

.image-home {
    width: 100%;
}

.image-height{
    height: 80vh;
}

.text-home{
 font-size: 4em;
 line-height: 1em;
}

#mc-embedded-subscribe, .btn-style {
    background: none!important;
    border-color: #F1E6EA!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    border-radius: 0.5em;
    color: #D2A9BC!important;
    padding: 2vh;
    margin: 0;
}

.btn-style {
    background-color: #602150!important;
    border-color: #F1E6EA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    border-radius: 0.5em;
    color: #D2A9BC;
    padding: 2vh;
    margin: 0;
}

.card {
    outline-color: #D2A9BC!important;
    border: 1px solid #D2A9BC!important;
    border-radius: 0.5em!important;
    flex-wrap: wrap!important;
    align-items: flex-start!important;
    align-content: flex-start!important;
    align-self: flex-end!important;
    flex-direction: column!important;
}

.products-container {
    display: flex!important;
}
